[Unit]
Description=Yokai

[Service]
WorkingDirectory=/home/pi/kinki-yokai/
ExecStart=/home/pi/kinki-yokai/start.sh
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
